.polya {
    display: flex;
}

.pole1{
    height:900px;
    width: 750px;
    border: 3px solid black;
}

.pole2{
    height: 900px;
    width: 750px;
    margin-left: 600px;
    border: 3px solid black;
}

.t1 {
    text-align: center;
    font-family: 'Calibri Light';
    font-size: 30px;
}

.t2 {
    text-align: center;
    font-family: 'Calibri Light';
    font-size: 30px;
}

.b{
    position: absolute;
    margin-left: -380px;
    margin-top: 250px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-family: 'Calibri Light';
}

.b3{
    position: absolute;
    margin-left: -150px;
    margin-top: 250px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-family: 'Calibri Light';
}

.t3{
    font-family: 'Calibri Light';
    margin-left: 50px;
    font-size: 20px;
}
.i1{
    margin-left: 50px;
    width: 400px;
}


.t4{
    font-family: 'Calibri Light';
    margin-left: 50px;
    font-size: 20px;
}
.i2{
    margin-left: 50px;
    width: 400px;
}


.t5{
    font-family: 'Calibri Light';
    margin-left: 50px;
    font-size: 20px;
}
.i3{
    margin-left: 50px;
    width: 400px;
}


.t6{
    font-family: 'Calibri Light';
    margin-left: 50px;
    font-size: 20px;
}

.i4{
    margin-left: 50px;
    width: 400px;
}


.t7{
    font-family: 'Calibri Light';
    margin-left: 50px;
    font-size: 20px;
}

.i5{
    margin-left: 50px;
    width: 400px;
}

.n1{
    font-family: 'Calibri Light';
    font-size: 20px;
}

.b2{
    position: absolute;
    margin-left: 250px;
    top: 800px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-family: 'Calibri Light';
}

.element{
    margin-bottom: 12px;
}



