.b1{
    color: red;
}

.b2{
    color: blue;
}

.b3{
    color: green;
}

.block1{
    height: 500px;
    width: 33%;
    background-color: red;
}

.block2{
    height: 500px;
    width: 33%;
    background-color: blue;
}

.block3{
    height: 500px;
    width: 33%;
    background-color: green;
}

.blocks {
    display: flex;
    margin-top: 70px;
}