.box1{
    width: 100%;
    height: 50px;
    background: darkblue;
    color: white;
}

.box2{
    width: 100%;
    height: 50px;
    background: darkblue;
    margin-top: 10px;
    color: white;

}

.box3{
    width: 100%;
    height: 50px;
    background: darkblue;
    margin-top: 15px;
    color: white;
}

.tabl{
    border: black solid 1px;
    padding: 10px;
}