.b1{
    background-color: white;
    color: black;
}

.b2{
    background-color: black;
    color: white;
}

.b3{
    background-color: gray;
    color: black;
}

.b4{
    background-color: goldenrod;
    color: black;
}

.b5{
    background-color: blue;
    color: greenyellow;
}